body{
	font-family: 'Roboto', sans-serif;
}

.logo{
	box-shadow: 0 2px 2px #999;
}
.header{
	border-bottom: 1px solid #dee0df;
	height: 80px;
	background-color: #f5f5f5;
	width: 100%;

}
.harvest {
    font-size: 16px;
    margin-top: 28px;
    font-weight: 300;
}
.call{
	font-size: 18px;
	color: #999;
	margin-top: 24px;
	float: right;
	margin-right: 30px;
}
.phone{
	color: #c93444;
	margin-top: 24px;
	font-size: 24px;
	float: right;
	font-weight: 600;
}
.logo_descript {
    margin-top: 18px;
}
.bread{
	margin: 15px 0;
	font-weight: 300;
}
a{
	text-decoration: underline;
}

.spliter{
	margin: 0 10px;
}
.cart
{
	box-shadow: 0px 4px 8px #999;
}
h4
{
	font-weight: 600 !important;
}
.top-filter-header
{
	color: white;
	background-color: #808080;
	padding: 10px 15px;
}
.filter-main
{
	padding: 15px;
}
.option-title
{
	font-weight: 600;
	color: #4d4d4d;
	margin: 10px 0;
}
.filter-option ul li
{
	list-style-type: none;
	font-size: 12px;
	margin-bottom: 10px;
}
.filter-option ul
{
	padding-left: 0;
}
.filter-tire-width
{
	max-width: 200px;
}
.filter-option
{
	margin: 10px 0;
}